/* Reuse style.css from the root directory */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: url('pic/background.jpg') no-repeat center center fixed; /* Set your background image here */
    background-size: cover; /* Cover the entire page */
    color: #333; /* Text color */
}

header {
    background: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}
main {
    padding: 20px;
    text-align: left;/* Semi-transparent white background for main content */
    border-radius: 10px; /* Rounded corners */
}
h1, h2 {
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: auto;
    border: 1px;
}
footer {
    background: rgba(51, 51, 51, 0.8); /* Semi-transparent footer */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
